<div class="col-md-4">
  <b>Search product</b>
</div>
<div class="form-group col-md-12" >
  <div style="overflow-x:hidden;white-space:nowrap">
    <input type="text" placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword" (focus)="isShow=true" (keypress)="KeyPress($event)">

    <input style="margin-right:10px;" type="button" class="btn btn-success" value="+" (click)="AddItem(selectedItem)" (focusout)="isShow=false;" />
    <input type="button" class="btn btn-success" value="Clear" (click)="searchedKeyword=''" (focusout)="isShow=false;" />
  </div>
  <div>
    <div *ngFor="let item of itemList | filter:searchedKeyword; let i=index">
      <div *ngIf="searchedKeyword && searchedKeyword.length && isShow">
        <span (click)="searchedKeyword=item.name;selectedItem=item;isShow=false;AddItem(item);" style="cursor:pointer;">{{item.name}}</span>
        <!--<input type="button" class="btn btn-success" value="+" (click)="searchedKeyword=item.name;selectedItem=item;" />-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedItemList && selectedItemList.length">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Remove</th>
        <th>Item Name</th>
        <th>Quantiy</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let selectedItem of selectedItemList">
        <td>
          <input type="button" class="btn btn-danger"  value="-" (click)="RemoveItem(selectedItem)" />
        </td>
        <td>{{selectedItem.name}}</td>
        <td>
          <input type="text" name="txtQuanity" class="form-group col-sm-4" (keyup)="CalclulateTotal($event.target.value, selectedItem.price);" [(ngModel)]="selectedItem.Quantiy"  />
          {{selectedItem.unit}}
        </td>
        <td>
          <input type="text" name="txtPrice" class="form-group col-sm-6" (keyup)="CalclulateTotal(selectedItem.Quantiy,$event.target.value);" [(ngModel)]="selectedItem.price" />
        </td>
        <td>{{(selectedItem.price * selectedItem.Quantiy)  | currency:'INR':true}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>Total Amount:</b></td>
        <td colspan="2" align="right">
          <label><b>{{total | currency:'INR':true}}</b></label>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="button" class="btn btn-primary" value="Print" />
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<!--<table class="table table-striped">
  <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Country</th>
      <th>Club</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filterResultDataSet | filter:searchedKeyword">
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.country}}</td>
      <td>{{item.club}}</td>
    </tr>
  </tbody>
</table>-->
