<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{customer.mobileNumber}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4">
          <!--<img class="imageClass" [src]="employee.photopath">-->
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">
              First name
            </div>
            
            <div class="col-xs-6">
              : {{customer.firstName}}
              
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              Last name
            </div>
            <div class="col-xs-6">
              : {{customer.lastName}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Address
            </div>
            <div class="col-xs-6">
              : {{customer.address}}
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <input type="button" class="btn-primary" value="back to List" (click)="OnBackButtonClick()" />
    </div>

  </div>
</div>
