<h1>{{title}}</h1>
<p *ngIf="!customerlist"><em>Loading...</em></p>

<table class='table' *ngIf="customerlist">
  <thead>
    <tr>
      <th>MobileNumber</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Address</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customerlist" (click)="RowSelected(customer);">
      <td>{{ customer.mobileNumber }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.address }}</td>
    </tr>
  </tbody>
</table>
